body {
    font-family: Verdana;
    background-color: black;
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: darkblue;
    padding: 10px;
    font-family: Verdana;
    border-radius: 50px;
}

#navbar a {
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.profile img {
    width: 350px;
    height: 350px;
    border: 10px solid darkblue;
    margin: 0px;
}

figcaption {
    font-size: 14px;
    color: lightgray;
    text-align: center;
}

.about {
    text-align: center;
    margin: 20px;
    color: darkblue;
    font-weight: bold;
}

.info-section {
    display: flex;
    justify-content: space-evenly;
}

.about p {
    margin-top: 5px;     
    color: lightgray;
    margin-bottom: 7px;
    padding-left: 15px;
}

.about h2 {
    margin-bottom: 10px;
    margin-top: 5px;
    color: lightgray;
}

.about-box {
    background-color: darkblue;
    border-radius: 20px;
}

.thoughts-box {
   background-color: darkblue;
   padding: 40px;
   border-radius: 20px;
   border: 10px solid lightgray;
}

p {
    font-size: 25px;
    text-align: left;
    color: lightgray;
}
h1 {
    font-size: 45px;
    text-decoration: underline;
    color: lightgray;
    text-align: center;
}

.list-box a {
    color: lightgray;
    font-size: 30px;
}

.list-box li {
    color: lightgray;
    font-size: 30px;
}

.list-box {
    display: flex;
    justify-content: center;  
    align-items: center;
   background-color: darkblue;
   padding: 40px;
   border-radius: 20px;
   border: 10px solid lightgray;
}

.article-box h2 {
    color: lightgray;
    text-align: center;
    font-size: 35px;
}

.article-box {
    background-color: darkblue;
   padding: 40px;
   border-radius: 20px;
   border: 10px solid lightgray;
}

.book-box {
    background-color: darkblue;
   padding: 40px;
   border-radius: 20px;
   border: 10px solid lightgray;
}

